p {
   color:b;
    font-size: 1.5em;
}

body { 
    background-image: url("ciel.jpg");
    
}


h1 {padding: 10px;
  background: yellow;
    border: 10px solid red;}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}
div {
    align-content: center
    
}